/*blue gradient background*/
#blue_gradient {
  background-image: linear-gradient(#429C9D, #FFFFFF);
  z-index: -2; }

/*****************************BUTTON STYLING***********************/
/*my skills crayon box button*/
.skills_crayon_box {
  font-size: 27px;
  background-color: #000;
  text-align: center;
  z-index: 1;
  margin-top: 36px;
  width: 280px;
  font-family: 'Changa One', cursive;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 42px;
  border-radius: 5px; }

.skills_crayon_box a {
  text-decoration: none;
  color: pink; }

/*contact me button in bio*/
.contact_button {
  height: 40px;
  width: 150px;
  border: solid 5px #ED4A62;
  background-color: #ffffff;
  border-radius: 5px;
  display: block; }

.contact_button h4 {
  margin: auto;
  color: #ED4A62; }

/*styling explore buttons*/
.explore_button {
  height: 30px;
  width: 130px;
  background-color: #ffffff;
  border: solid 3px #ED4A62;
  color: #ED4A62;
  border-radius: 3px;
  font-weight: bold; }

/**********************FORM STYLING*********************/
/*styling my form*/
label {
  font-size: 17px; }

.form {
  position: relative;
  top: 100px;
  left: 25px; }

.input_name, .input_email {
  height: 30px;
  width: 260px;
  border: solid 2px #CDD801;
  background-color: #ffffff;
  margin: 10px; }

.input_message {
  height: 175px;
  width: 260px;
  border: solid 2px #CDD801;
  background-color: #ffffff;
  position: relative;
  right: 25;
  position: relative;
  right: 15px;
  margin: 5px; }

.send_button {
  height: 40px;
  width: 140px;
  margin-top: 10px;
  background-color: #ffffff;
  border: solid 4px #ED4A62;
  color: #ED4A62;
  border-radius: 4px;
  font-weight: bold; }

.message_box {
  position: relative;
  bottom: 152px;
  right: 26px; }

/*main image*/
#main_crayons_image {
  width: 100%;
  height: 680px;
  position: relative;
  top: 71px;
  display: block;
  z-index: -2; }

/*portfolio_crayon_image_reposition*/
#main_crayons_image1 {
  position: relative;
  bottom: 20px;
  width: 100%;
  height: 680px;
  position: relative;
  top: -30px;
  display: block;
  z-index: -2; }

/*bio image*/
.bio_image {
  background-image: url("images/bio_image.png");
  z-index: 5;
  background-repeat: no-repeat; }

/*portfolio arrow image*/
div.arrow_div {
  width: 100%;
  text-align: center;
  display: block;
  width: 100%;
  position: relative;
  bottom: 360px; }

.arrow_div img {
  z-index: 5;
  margin: 0 auto; }

/*contact form paper image*/
div.note_paper_image {
  background-image: url("images/paper1.png");
  background-repeat: no-repeat;
  z-index: 5;
  height: 500px;
  width: 700px;
  position: relative;
  bottom: 590px;
  display: block;
  margin: 0 auto;
  text-align: center; }

/*main welcome quote*/
.quote_background {
  z-index: 1;
  background-color: #000000;
  max-width: 950px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  border-radius: 4px; }

.welcome_quote {
  z-index: 1;
  color: white;
  font-size: 35px;
  text-align: center;
  padding: 5px;
  font-family: 'Permanent Marker', cursive; }

/*H2 PAGE HEADINGS*/
h2 {
  font-size: 39px;
  color: #ffffff;
  z-index: 1;
  width: 230px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold; }

h2:after {
  content: '';
  display: block;
  height: 0.2em;
  width: 35%;
  margin: auto;
  border-bottom: solid; }

h3 {
  color: #EF8C30;
  font-weight: bold;
  font-size: 18px; }

/*bio text*/
.bio_text_block {
  padding-top: 18px;
  width: 410px;
  display: block;
  margin: auto;
  padding-left: 55px; }

.intro_bio {
  font-weight: bold;
  margin-bottom: 3.5px;
  font-size: 18px;
  text-align: center; }

.main_text_bio {
  font-size: 15px;
  text-align: center;
  font-family: arial,sans-serif; }

/*portfolio quotes styling and arrow*/
div.portfolio_quote_div1 {
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  bottom: 450px; }

div.portfolio_quote_div2 {
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  bottom: 180px; }

p.quote1 {
  color: #ffffff;
  width: 90%;
  z-index: 5;
  font-size: 45px;
  margin: 0 auto;
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.88);
  font-family: 'Changa One', cursive; }

p.quote2 {
  color: #ffffff;
  width: 90%;
  z-index: 5;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto;
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.88);
  font-family: 'Changa One', cursive; }

/*contact form header.. say hello*/
.say_hello {
  position: relative;
  bottom: 1200px;
  z-index: 6; }

/*Full page wrapper*/
.wrapper {
  width: 100%;
  margin: auto;
  height: 100vh -100px;
  z-index: -10; }

/*main nav-bar container*/
.nav_container {
  height: 100%;
  width: 100%; }

/*FLEXBOX ABOUT_ME*/
.about_me_flex_container {
  display: flex;
  width: 950px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 34px;
  height: 500px; }

.flex_item {
  height: 480px;
  width: 470px;
  padding-left: -100px;
  padding-right: -100px;
  flex-self: center; }

.bio_flex_item2 {
  background-image: url("images/pinned.png");
  background-repeat: no-repeat; }

/*flex container button bio...contact me button*/
.button_flex_contianer {
  display: flex; }

.contact_button {
  margin: auto; }

/*portfolio felxbox styling*/
.portfolio_flex_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 65px; }

.portfolio_flex_item {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 20px;
  text-align: center;
  width: 370px; }

/*flex styling for portfolio explore buttons*/
.explore_button {
  margin-top: auto;
  align-self: center; }

/*Footer styling*/
#footer {
  background-color: black;
  height: 150px;
  z-index: 10;
  position: relative;
  top: 0px; }

.contact_footer {
  position: relative;
  bottom: 0px;
  background-color: black;
  height: 150px;
  z-index: 10; }

.portfolio_footer {
  position: relative;
  top: 270px;
  background-color: black;
  z-index: 10;
  height: 150px;
  z-index: 10;
  position: relative; }

#say_hello {
  position: relative;
  top: 45px;
  left: 69px; }

#social_networks {
  position: relative;
  top: 15px; }

#envelope_icon {
  font-size: 17px; }

ul li.twitter p {
  margin-right: -4px; }

#say_hello p {
  font-weight: bold;
  color: #ffffff;
  font-size: 15px; }

.contact_link {
  color: #ED4A62;
  font-size: 15px; }

#social_networks ul {
  text-align: right;
  margin-right: 70px;
  list-style: none; }

#social_networks a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px; }

/*Logo*/
.logo_div {
  z-index: 1;
  position: relative;
  bottom: 500px; }

.logo_image {
  z-index: 1;
  display: block;
  opacity: 0.8;
  margin: 0 auto; }

/*nav bar styling*/
.navbar {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  z-index: 11; }

.navbar-nav li a {
  margin-left: 37px;
  margin-right: 35px;
  font-size: 20px;
  padding-bottom: 5px;
  font-family: 'Open Sans Condensed', sans-serif; }

/*drop_down styling*/
#bs-example-navbar-collapse-1 {
  height: 200px;
  width: 75%;
  margin: auto;
  position: relative;
  top: 20px;
  background-color: #ffffff; }

.navbar-default .navbar-nav > li > a {
  color: #000000;
  text-align: center; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff; }

/*collapse button styling*/
.navbar-toggle {
  width: 45px;
  height: 45px; }

.navbar-toggle {
  background-color: #ffffff;
  z-index: 4; }

/*:HOVER*/
/*main nav hover styling*/
nav ul li a:hover {
  text-decoration: none;
  border-bottom: solid 3px #ED4A62; }

/*Footer hover styling*/
.contact_link:hover {
  text-decoration: none;
  border-bottom: solid 1px #ffffff; }

#social_networks a:hover.github_text {
  border-bottom: solid 1px #ED4A62; }

#social_networks a:hover.twitter_text {
  border-bottom: solid 1px #ED4A62; }

a.mail_to_link {
  color: #ED4A62; }

a:hover.mail_to_link {
  text-decoration: none; }

a:hover.image_link {
  text-decoration: none; }

/*Main section on index.html*/
.main_welcome {
  height: 680px;
  position: relative;
  bottom: 100px; }

/*About me section*/
.about_me {
  min-width: 100%;
  height: 680px;
  position: relative;
  bottom: 60px;
  display: block; }

/*intro portfolio section... where my quotes are*/
.intro_portfolio {
  height: 680px; }

/*intro portfolio sectipn... where my main portfolio is*/
/*Section*/
.my_portfolio {
  position: relative;
  bottom: 52px; }

/*the actual portfolio div*/
.portfolio {
  position: relative;
  top: 230px; }

/*contact form section*/
.intro_contact {
  height: 645px; }

/******MEDIA QUERIES******/
@media screen and (max-width: 1227px) {
  .navbar-nav li a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    color: #000000;
    padding-bottom: 5px; }
  .navbar-nav li a {
    text-align: center;
    font-size: 18px;
    margin-left: 29px;
    margin-right: 29px; } }

@media screen and (max-width: 1093px) {
  .navbar-nav li a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 19px;
    color: #000000;
    padding-bottom: 5px; } }

@media screen and (max-width: 1093px) and (max-width: 1059px) {
  .navbar-nav li a {
    margin-left: 21px;
    margin-right: 21px;
    font-size: 15px;
    color: #000000;
    padding-bottom: 5px; } }

@media screen and (max-width: 1093px) and (max-width: 1045px) {
  /*quote*/
  /*welcome quote*/
  .quote_background {
    max-width: 825px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px; }
  .welcome_quote {
    font-size: 27px;
    padding: 3px; }
  /*footer*/
  /*Footer styling*/
  #footer {
    height: 150px; }
  #social_networks ul {
    margin-right: 10px; }
  #social_networks a {
    margin-left: 10px; }
  #say_hello {
    left: 10px; } }

@media screen and (max-width: 1093px) and (max-width: 1032px) {
  .portfolio {
    position: relative;
    top: 300px; } }

@media screen and (max-width: 1093px) and (max-width: 1009px) {
  /*footer*/
  #footer {
    position: relative;
    top: 450px;
    height: 150px; }
  /*about_me*/
  /*FLEXBOX ABOUT_ME*/
  .bio_flex_item1 {
    margin-top: 50px;
    margin-left: 50px; }
  .bio_flex_item2 {
    height: 460px;
    width: 550px;
    order: -1; }
  .bio_text_block {
    padding: 20px; } }

@media screen and (max-width: 1093px) and (max-width: 973px) {
  .about_me_flex_container {
    width: 100%; } }

@media screen and (max-width: 1093px) and (max-width: 990px) {
  .contact_footer {
    height: 150px; } }

@media screen and (max-width: 1093px) and (max-width: 906px) {
  .navbar-nav li a {
    margin-left: 11px;
    margin-right: 11px;
    font-size: 14px;
    color: #000000;
    padding-bottom: 5px; } }

@media screen and (max-width: 1093px) and (max-width: 745px) {
  /*Postioning my portflio on smaller devices*/
  .portfolio {
    position: relative;
    top: 470px; }
  .portfolio_footer {
    position: relative;
    top: 460px;
    background-color: black;
    z-index: 10;
    height: 150px;
    z-index: 10;
    position: relative; }
  /*About me section*/
  /*FLEXBOX ABOUT_ME*/
  .bio_flex_item2 {
    background-image: url("images/pinned2.png");
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
  .bio_image {
    background-image: url("images/bio_image2.png");
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
  .bio_text_block {
    width: 300px; }
  .intro_bio {
    font-weight: bold;
    margin-bottom: 3.5px;
    font-size: 15px;
    text-align: center; }
  .main_text_bio {
    font-size: 13px;
    text-align: center;
    min-width: 200px; }
  .contact_button {
    height: 40px;
    width: 150px;
    border: solid 5px #ED4A62;
    background-color: #ffffff;
    border-radius: 5px;
    display: block; }
  .contact_button h4 {
    margin: auto;
    color: #ED4A62; }
  /*contact form styling for smaller devices*/
  /*contact form page*/
  .intro_contact {
    height: 645px; }
  div.form {
    width: 370px; }
  div.note_paper_image {
    background-image: url("images/paper2.png");
    height: 500px;
    width: 410px;
    position: relative;
    bottom: 590px;
    display: block;
    margin: 0 auto;
    text-align: center;
    right: 50px; }
  .say_hello {
    position: relative;
    bottom: 1200px;
    z-index: 6; }
  /*styling my form*/
  label {
    font-size: 13px; }
  div.form {
    position: relative;
    top: 77px;
    left: 76px;
    width: 360px;
    margin-right: 0; }
  .form_div {
    width: 500px;
    margin: 0 auto; }
  .input_name, .input_email {
    height: 30px;
    width: 170px;
    border: solid 2px #CDD801;
    background-color: #ffffff;
    margin: 10px; }
  .input_message {
    height: 155px;
    width: 170px;
    border: solid 2px #CDD801;
    background-color: #ffffff;
    position: relative;
    right: 25px;
    position: relative;
    right: 12px;
    margin: 5px; }
  .send_00 {
    height: 40px;
    width: 140px;
    margin-top: 10px;
    background-color: #ffffff;
    border: solid 4px #ED4A62;
    color: #ED4A62;
    border-radius: 4px;
    font-weight: bold; }
  .message_box {
    position: relative;
    bottom: 152px;
    right: 18px; } }

@media screen and (max-width: 1093px) and (max-width: 767px) {
  /*responsive drop-down styling*/
  #bs-example-navbar-collapse-1 {
    height: 200px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 20px;
    border-left: solid 2px #EF8C30;
    border-bottom: solid 2px #EF8C30;
    border-right: solid 2px #EF8C30;
    border-radius: 2px; } }

@media screen and (max-width: 1093px) and (max-width: 622px) {
  /*Postioning my portflio on smaller devices*/
  .portfolio {
    position: relative;
    top: 440px; }
  a.twitter_text, a.github_text {
    display: none; }
  .github_icon {
    padding-right: 15px; }
  .twitter_icon {
    padding-right: 15px; } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
