
/*****************************BUTTON STYLING***********************/

/*my skills crayon box button*/
.skills_crayon_box {
	font-size:27px;
	background-color:$color-highlight; 	 
	text-align: center;
	z-index: 1;
	margin-top: 36px;
	width:280px;
	font-family: $quote-font;
	
	@include block-center;
	height: 42px;
	@include roundy(15px);
	a {
	text-decoration: none;
	color:$color-links;
	}
}


/*contact me button in bio*/

.contact_button{
	height:40px;
	width:150px;
	border:solid 5px $color-links;
	background-color: #ffffff;
	@include roundy(5px);
	display: block;
	h4{
	margin:0 auto;
	color:$color-links;
	display:auto;
	}
}


/*styling explore buttons*/

.explore_button{

	height:30px;
	width:130px;
	
	background-color: $color-highlight;
	border:solid 3px $color-links;
	color:$color-links;
	@include roundy(3px);
	font-weight: bold;

}

/**********************FORM STYLING*********************/

/*styling my form*/

label{
	font-size:17px;

}

.form{
	position: relative;
	top:100px;
	left:25px;
}

.input_name, .input_email{
	height: 30px;
	width:260px;
	border:solid 2px $brighten-yellow;
	background-color: $color-highlight;
	margin: 10px;
	} 

.input_message{
	height: 175px;
	width:260px;
	border:solid 2px $brighten-yellow;
	background-color: $color-highlight;
	position: relative;
	right:25;
	position: relative;
	right:15px;
	margin:5px;

}

.send_button{
	height:40px;
	width:140px;
	margin-top:10px;
	background-color: $color-highlight;
	border:solid 4px $color-links;
	color:$color-links;
	@include roundy(4px);
	font-weight: bold;
} 

.message_box{
	position: relative;
	bottom:152px;
	right:26px;
	
}