
/*****************************BUTTON STYLING***********************/

/*my skills crayon box button*/
.skills_crayon_box {
	font-size:27px;
	background-color:#000; 	 
	text-align: center;
	z-index: 1;
	margin-top: 36px;
	width:280px;
	font-family: 'Changa One', cursive;
	margin-left:auto;
	margin-right:auto;
	display:block;
	height: 42px;
	border-radius: 5px;
	
}

.skills_crayon_box a {
	text-decoration: none;
	color:pink;
}

/*contact me button in bio*/

.contact_button{
	height:40px;
	width:150px;
	border:solid 5px #ED4A62;
	background-color: #ffffff;
	border-radius: 5px;
	display: block;	

}

.contact_button h4{
	margin:auto;
	color:#ED4A62;

}

/*styling explore buttons*/

.explore_button{

	height:30px;
	width:130px;
	
	background-color: #ffffff;
	border:solid 3px #ED4A62;
	color:#ED4A62;
	border-radius: 3px;
	font-weight: bold;

}

/**********************FORM STYLING*********************/

/*styling my form*/

label{
	font-size:17px;

}

.form{
	position: relative;
	top:100px;
	left:25px;
}

.input_name, .input_email{
	height: 30px;
	width:260px;
	border:solid 2px #CDD801;
	background-color: #ffffff;
	margin: 10px;
	} 

.input_message{
	height: 175px;
	width:260px;
	border:solid 2px #CDD801;
	background-color: #ffffff;
	position: relative;
	right:25;
	position: relative;
	right:15px;
	margin:5px;

}

.send_button{
	height:40px;
	width:140px;
	margin-top:10px;
	background-color: #ffffff;
	border:solid 4px #ED4A62;
	color:#ED4A62;
	border-radius: 4px;
	font-weight: bold;
} 

.message_box{
	position: relative;
	bottom:152px;
	right:26px;
	
}