/*Footer styling*/

#footer{
	background-color: black;
	height:150px;
		z-index: 10;
	position: relative;
	top:0px;

}

.contact_footer{

	position: relative;
	bottom:0px;
	background-color: black;
	height:150px;
		z-index: 10;


}

.portfolio_footer{

	position: relative;
	top:270px;
	background-color: black;
	
		z-index: 10;
	height:150px;
		z-index: 10;
	position: relative;
	

}



#social_networks{
	position: relative;
	top:15px;
	ul{
	text-align: right;
	margin-right: 70px;
	list-style: none;
	}
	a{
	text-decoration: none;
	color:$color-highlight;
	font-weight: bold;
	font-size: 15px;
	margin-left:20px;
	}
}






#envelope_icon{
	font-size: 17px;
}



ul li.twitter p{
	margin-right: -4px;
}




#say_hello{
	position: relative;
	top:45px;
	left:69px;
	 p{
	font-weight: bold;
	color: $color-highlight;
	font-size:15px;
	}
}

.contact_link{
	color:$color-links;
	font-size: 15px;
}



