/*:HOVER*/

/*main nav hover styling*/
nav ul li a:hover{
	text-decoration: none;
	border-bottom: solid 3px #ED4A62;
}

/*Footer hover styling*/
.contact_link:hover{
	text-decoration: none;
	border-bottom: solid 1px #ffffff;
	}

#social_networks a:hover.github_text{
	border-bottom: solid 1px #ED4A62;
}

#social_networks a:hover.twitter_text{
	border-bottom: solid 1px #ED4A62;
}

a.mail_to_link{
	color:#ED4A62; 	
}

 a:hover.mail_to_link{
	text-decoration: none;

}

a:hover.image_link{
	text-decoration: none;
}