

/*Main section on index.html*/

.main_welcome{
	height: 680px;
	position: relative;
	bottom:100px;

}



/*About me section*/

.about_me{
	min-width:100%;
	height:680px;
	position:relative;
	bottom:60px;
	display: block;
}


/*intro portfolio section... where my quotes are*/

.intro_portfolio{
	height:680px;
}


/*intro portfolio sectipn... where my main portfolio is*/
/*Section*/
.my_portfolio{
	position: relative;
	bottom:52px;
	
}

/*the actual portfolio div*/


.portfolio{
	position: relative;
	top:230px;
}

/*contact form section*/


.intro_contact{
	height: 645px;
}


